@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  min-height: 100%;
  margin: 0;
  margin-top: 5px;
}

#page-wrap {
  width: 90%;
  margin: 0 auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

text {
  font-family: "Lato";
}

.row {
  width: 100%;
}

.container {
  margin-bottom: 40px;
  /* display: flex;
  flex-direction: column; */
}

#map-area {
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.head {
  text-align: center;
  font-size: 60px;
  font-family: "Lato";
  font-weight: 400;
  margin-top: 10px;
  line-height: 110%;
  letter-spacing: 2px;
  color: #302f2f;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  margin-top: -10px;
  margin-bottom: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: "Lato";
  font-weight: 300;
}

.format-green {
  background-color: #1a9754;
  color: #ffffff;
  border-radius: 3px;
  font-weight: 400;
}

.format-red {
  background-color: #a01300;
  color: #ffffff;
  border-radius: 3px;
  font-weight: 400;
}

#intro-format-grey {
  background-color: #cecfc8;
  color: #424242;
  border-radius: 3px;
  font-weight: 400;
}

#update {
  width: 100%;
  text-align: center;
  text-align: centre;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "Lato";

  color: #1a9754;
  font-style: bold;
  font-size: 16px;
}

.button-container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.button {
  background-color: #e3e4e3;
  border: none;
  color: rgb(75, 73, 73);
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  transition: border 100;
  margin-top: 20px;
  margin-bottom: -15px;
  cursor: pointer;
}

.clicked {
  background-color: white;
  border: 1px solid #575555;
}

#legend {
  /* width: 100%;
  margin-left: auto;
  margin-right: auto; */
  /* justify-content: center; */
  align-items: center;
  display: block;
  margin: auto;
}

#chart-area {
  /* align-items: center; */
  width: 80%;
  margin-top: 10px;
  margin-left: 7.5%;
  text-align: center;
}

.shaded {
  stroke: #575555;
  stroke-width: 2px;
  z-index: 5;
}

.d3-tip {
  background-color: rgba(133, 131, 131, 0.726);
  font-family: "Lato";
}

.legend-header {
  font-family: "Lato";
  font-weight: 300;
  opacity: 0.7;
}

.legend-nums {
  color: #8f8d8d;
  opacity: 0.9;
  font-family: "Lato";
  font-weight: 300;
}

.legend-lines {
  fill: #6e6d6d;
  opacity: 0.5;
}

.credit {
  color: #bdbbbb;
}

.text-container {
  margin-top: -10px;
  margin-bottom: 10px;
  width: 60%;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: "Lato";
  font-weight: 300;
}

.chartTip {
  background-color: rgb(82, 79, 79);
  opacity: 1;
  font-family: "Lato";
}

.x-axis {
  opacity: 0.6;
}

.y-axis {
  opacity: 0.6;
}

.title-text {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 600;
}

.y-axis line {
  stroke: #e5e2e0;
}

#footer-text {
  text-align: center;
  font-size: 14px;
  font-family: "Lato";
  opacity: 0.5;
}

#geo-name {
  margin: 0;
  padding-top: 0;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 0.3;
  font-weight: 400;
}

.figures {
  /* margin: 0; */
  padding-top: 2px;
  line-height: 0.2;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 1px;
  margin-bottom: 0;
  margin-top: 1;
}

#complete {
  font-style: italic;
  line-height: 1;
  font-size: 12px;
  font-weight: 300;

  margin-bottom: 0;
  margin-top: 1;
}

#date {
  font-family: "Lato";
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0.3;
}

#number {
  font-family: "Lato";
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0.3;
  font-size: 13px;
  font-weight: 300;
}

#small-multiples {
  display: block;
  margin-left: 15%;
  margin-right: 10%;
  width: 75%;
}

.axis {
  opacity: 0.5;
}

.section-header {
  font-family: "Lato";
  color: #302f2f;
  /* font-size: 20px; */

  width: 70%;
  margin-left: 17%;
  margin-right: 10%;
}

.text {
  width: 70%;
  margin-left: 15%;
  margin-right: 10%;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: "Lato";
}

#multiple-header {
  margin-bottom: -10px;
}

#multiple-text {
  color: rgb(112, 112, 112);
  margin-left: 17%;
}
